*

!software-foundations
!software-foundations/*
!dafny-tutorial
!dafny-tutorial/*
!lean4game
!lean4game/*
!tla_pluscal_tutorial
!tla_pluscal_tutorial/**
!isabelle-prog-prove
!isabelle-prog-prove/*.thy
!dli-fundamentals-of-accelerated-computing-with-cuda-c-cpp
!dli-fundamentals-of-accelerated-computing-with-cuda-c-cpp/**


!.gitignore


!plfa
!plfa/*
!csclub-coq-course-spring-2021 
!csclub-coq-course-spring-2021/*
!csc-cuda 
!csc-cuda/*
!bronze-qiskit
!bronze-qiskit/*
!GPU-Puzzles
!GPU-Puzzles/*
!GlimpseOfLean
!GlimpseOfLean/*
!tutoriel_framac_wp
!tutoriel_framac_wp/*
!logical_verification_2024
!logical_verification_2024/*
!mathematics_in_lean
!mathematics_in_lean/*
!arend-tutorial-code
!arend-tutorial-code/*
!HoTTEST-Summer-School
!HoTTEST-Summer-School/*
!HTPILeanPackage
!HTPILeanPackage/*
!pnp-coq
!pnp-coq/*