*

!software-foundations
!software-foundations/*

!dafny-tutorial
!dafny-tutorial/*

!lean4game
!lean4game/*

!tla_pluscal_tutorial/
!tla_pluscal_tutorial/*.tla
!tla_pluscal_tutorial/*.toolbox
!tla_pluscal_tutorial/*.toolbox/.settings/
!tla_pluscal_tutorial/*.toolbox/.settings/*.prefs
!tla_pluscal_tutorial/*.toolbox/Model_*/
!tla_pluscal_tutorial/*.toolbox/Model_*/*.out
!tla_pluscal_tutorial/*.toolbox/Model_*/*.tla
!tla_pluscal_tutorial/*.toolbox/Model_*/*.cfg
!tla_pluscal_tutorial/*.toolbox/.project
!tla_pluscal_tutorial/*.toolbox/*.pmap
!tla_pluscal_tutorial/*.toolbox/*.launch

!isabelle-prog-prove
!isabelle-prog-prove/*.thy

!dli-fundamentals-of-accelerated-computing-with-cuda-c-cpp
!dli-fundamentals-of-accelerated-computing-with-cuda-c-cpp/**

#unignore only quantum-katas, nested dirs still ignored 
!quantum-katas
#unignores every dir inside quantum-katas, note that "!quantum-katas/*" will not work because it will unignore all files inside quantum-katas and nested dirs still will be ignored
!quantum-katas/*/
#unignore all .qs files inside nested dirs
!quantum-katas/*/*.qs
!quantum-katas/create_files.py


!experiments/
!experiments/coq/
!experiments/coq/*.v

!experiments/z3/
!experiments/z3/*.py
!experiments/z3/*.ipynb
!experiments/z3/ted
!experiments/z3/ted/*.py
!experiments/z3/ted/*.ipynb

!.gitignore


!plfa
!plfa/*
!csclub-coq-course-spring-2021 
!csclub-coq-course-spring-2021/*
!csc-cuda 
!csc-cuda/*
!bronze-qiskit
!bronze-qiskit/*
!GPU-Puzzles
!GPU-Puzzles/*
!GlimpseOfLean
!GlimpseOfLean/*
!tutoriel_framac_wp
!tutoriel_framac_wp/*
!logical_verification_2024
!logical_verification_2024/*
!mathematics_in_lean
!mathematics_in_lean/*
!arend-tutorial-code
!arend-tutorial-code/*
!HoTTEST-Summer-School
!HoTTEST-Summer-School/*
!HTPILeanPackage
!HTPILeanPackage/*
!pnp-coq
!pnp-coq/*